<div>
  <h1 class="genmain text-center pt-4 pb-4 text-light bg-dark">General Resources</h1>
  <br><br>
  <div class="container text-dark text-center pt-4"
  <ul class="pt-5 text-light">
    <div class="containul">
      <h2 class="genhead p-1">BEGINNER TUTORIAL FOR JAVASCRIPT</h2>
      <a href="https://www.youtube.com/watch?v=hdI2bqOjy3c">CLICK HERE FOR JAVASCRIPT</a>
    </div>

    <div class="containul">
     <h2 class="genhead p-1">BEGINNER TUTORIAL FOR JQUERY</h2>
      <a href="https://www.youtube.com/watch?v=hMxGhHNOkCU&t=338s">CLICK HERE FOR JQUERY</a>
    </div>

    <div class="containul">
      <h2 class="genhead p-1">BEGINNER TUTORIAL FOR NODE JS</h2>
      <a href="https://www.youtube.com/watch?v=TlB_eWDSMt4&list=LL&index=5">CLICK HERE FOR NODEJS</a>
    </div>

    <div class="containul">
       <h2 class="genhead p-1">BEGINNER TUTORIAL FOR EXPRESS JS</h2>
      <a href="https://www.youtube.com/watch?v=Oe421EPjeBE">CLICK HERE FOR EXPRESS JS</a>
    </div>
      
    <div class="containul">
       <h2 class="genhead p-1"> BEGINNER TUTORIAL FOR MODEL VIEW CONTROLLER</h2>
      <a href="https://www.youtube.com/watch?v=_323VsR-Th0&list=PL33C9E91F8CDD2BF7">CLICK HERE FOR MODEL VIEW CONTROLLER</a>
      </div>
      <div class="containul">
        <h2 class="genhead p-1">BEGINNER TUTORIAL FOR JSON</h2>
      <a href="https://www.youtube.com/watch?v=Oe421EPjeBE">CLICK HERE FOR PACKAGE JSON</a>
      </div>
      <div class="containul">
        <h2 class="genhead p-1">BEGINNER TUTORIAL FOR GITHUB</h2>
      <a href="https://www.youtube.com/watch?v=RGOj5yH7evk">CLICK HERE FOR GITHUB</a>
      </div>
      <div class="containul">
        <h2 class="genhead p-1">BEGINNNER TUTORIAL FOR BOOTSTRAP</h2>
      <a href="https://www.youtube.com/watch?v=-qfEOE4vtxE">CLICK HERE FOR BOOTSTRAP</a>
      </div>
      <div class="containul">
       <h2 class="genhead p-1">BEGINNER TUTORIAL REACT</h2>
      <a href="https://www.youtube.com/watch?v=bMknfKXIFA8&t=363s">CLICK HERE FOR REACT</a>
      </div>
        <br>  <br>
  </ul>
  <br>
</div>
    
