<div>
  <ul>
    <li>
      <h2>BEGINNERS TUTORIAL FOR JAVASCRIPT</h2>
      <a href="https://www.youtube.com/watch?v=hdI2bqOjy3c">BEGINNERS TUTORIAL FOR JAVASCRIPT</a>
    </li>
     <h2>BEGINNERS TUTORIAL FOR JQUERY</h2>
      <a href="https://www.youtube.com/watch?v=hMxGhHNOkCU&t=338s">BEGINNERS TUTORIAL FOR JQUERY</a>
    </li>
    <li>
      <h2>BEGINNERS TUTORIAL FOR NODEJS</h2>
      <a href="https://www.youtube.com/watch?v=TlB_eWDSMt4&list=LL&index=5">TUTORIAL FOR NODEJS</a>
    </li>
    <li>
       <h2>BEGINNERS TUTORIAL FOR EXPRESS JS</h2>
      <a href="https://www.youtube.com/watch?v=Oe421EPjeBE">TUTORIAL FOR EXPRESS JS</a>
    </li>
    <li>
       <h2>BEGINNERS TUTORIAL FOR MODEL VIEW CONTROLLER</h2>
      <a href="https://www.youtube.com/watch?v=_323VsR-Th0&list=PL33C9E91F8CDD2BF7">TUTORIAL FOR MODEL VIEW CONTROLLER</a>
    </li>

        <h2>BEGINNERS TUTORIAL FOR PACKAGE JSON</h2>
      <a href="https://www.youtube.com/watch?v=Oe421EPjeBE">TUTORIAL FOR PACKAGE JSON</a>
    </li>
      </li>
        <h2>BEGINNERS TUTORIAL FOR GITHUB</h2>
      <a href="https://www.youtube.com/watch?v=RGOj5yH7evk">TUTORIAL FOR GITHUB</a>
    </li>
      </li>
        <h2>BEGINNERS TUTORIAL FOR BOOTSTRAP</h2>
      <a href="https://www.youtube.com/watch?v=-qfEOE4vtxE">TUTORIAL FOR BOOTSTRAP</a>
    </li>
    <li>
    <li>
       <h2>BEGINNERS TUTORIAL FOR REACT</h2>
      <a href="https://www.youtube.com/watch?v=bMknfKXIFA8&t=363s">TUTORIAL FOR REACT</a>
    </li>
  </ul>
</div>
    
