        <div class="container ml-2 cont1">
          <div class="list-group w-50">
            <h1>Latest Posts</h1>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-50 justify-content-between">  
              </div>
              <div>
                {{!-- {{  }} --}}
              </div>
            </a>
            </div>
          </div>

          <div class="container mr-2 cont2">
            <div class="list-group w-60">
                <h1>Tech News</h1>
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-60 justify-content-between">
                    </div>
                    <div>
                      {{newstech.head}}{{!-- {{  }} --}}
                    </div>
                </a>
            </div>
          </div>