<div>
<div class = "container mr-2 cont2">
    <img src = "https://static.vecteezy.com/system/resources/thumbnails/005/545/335/small/user-sign-icon-person-symbol-human-avatar-isolated-on-white-backogrund-vector.jpg" alt = "user profile filler"></img>
    <p>WELCOME USER</p>
    <h1 class = 'userid'> USERNAME:  ?? </h1>
    <h2 class = "email"> EMAIL ADDRESS: @@@ </h2>
    <h2 class = "amount of posts"> POSTS CREATED BY USER: int <h2>
</div>
</div>