html { 
    background: url(/img/connecting-people.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.head1 {
    margin-left: 5px;
    padding: 15px;
}

.cont1 {
    position: relative;
    top: 50px;
    left:150px;
    margin: 10px;
    /* left: 50px; */
    /* top: 67px; */
    /* margin-right: 125px; */
    /* margin: 50px; */
}

.cont2 {
    position: relative;
    top: 50px;
    right: 150px;
    margin: 10px;
    /* bottom: 500px; */
}
.navbar {
    display: inline-flex;
    /* margin-left: 10px;
    font-size: 18pt; */
}

.dischead {
    padding-top: 20px;
    font-size: 40px;
}

.homehead {
    font-size: 60px;
}

.navtitle {
    font-size: 20px;
    margin-left: 20px;
}

.containul {
    padding: 10px;
    background-color: rgb(212, 211, 211);
    margin-bottom: 20px;
    border-radius: 10px;
}

.postcont {
    padding: 10px;
    background-color: rgb(212, 211, 211);
    border-radius: 10px;
    
}
.labhead {
    font-size: 20px;
    font-weight: 600;
}

.genhead {
    margin-bottom: 10px;
}
.loginSide {
    margin-top: 30px;
}

.signupSide {
    margin-top: 30px;
    margin-bottom: 30px;

.logform {
    position: relative;
    left: 200px;
}

.signform {
    position: relative;
    left: 300px;
}