

.head1 {
    margin-left: 5px;
    padding: 15px;
}

.cont1 {
    position: relative;
    top: 50px;
    left:150px;
    margin: 10px;
    /* left: 50px; */
    /* top: 67px; */
    /* margin-right: 125px; */
    /* margin: 50px; */
}

.cont2 {
    position: relative;
    top: 50px;
    right: 150px;
    margin: 10px;
    /* bottom: 500px; */
}
.navbar {
    display: inline-flex;
}

.dischead {
    padding-top: 20px;
    font-size: 40px;
}

.homehead {
    font-size: 60px;
}

.navtitle {
    font-size: 25px;
}

.containul {
    padding: 10px;
    background-color: rgb(212, 211, 211);
    
}

.postcont {
    padding: 10px;
    background-color: rgb(212, 211, 211);
    
}

.labhead {
    font-size: 20px;
    font-weight: 600;
}